{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- <h1>this is home section</h1> -->
    <div class="container mt-5" style="min-height: 500px;">
        {% for i in blog %}
        <div class="card border-success mb-3 ">
            <!-- <div class="card-header bg-transparent border-success">Header</div> -->
            <a class="card-body text-success text-decoration-none" href="{% url 'detail_blog' %}">
                <h5 class="card-title">{{ i.blogtitle }}</h5>
                <p class="card-text">{{ i.intro }}</p>
            </a>
            <div class="card-footer bg-transparent border-success text-success">like share comment edit delete</div>
        </div>
        {% endfor %}
    </div>
    <!-- <a href="{% url 'signout' %}">signout</a> -->
{% endblock %}